/* Center align contents */
.task-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
}

.task-details {
  font-size: 18px;
  text-decoration: none;
  opacity: 1;
}

/* Checked */
.form-check-input:checked ~ .task-details {
  text-decoration: line-through;
  opacity: 0.5;
}

.badge {
  font-size: 16px;
  padding: 10px 20px;
}

.card {
  text-align: center;
}

/* Fancy styles */

.fab {
  border-radius: 50%;
  position: fixed;
  right: 20px;
  bottom: 20px;
}

.fa-trash {
  color: #ccc;
}

.fa-trash:hover {
  color: red;
}
